/* Webpage background */
/* Using viewheight credit to Cem Eygi Media */
body {
    background-image: url("images/world_map_comp.jpg") , linear-gradient(to right, #ae7646 , #ebc499);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Main section of quiz */
.main_object {
    background-color: rgba(0, 0, 0, 0.5);
    color: antiquewhite;
    text-align: center;
    padding: 2%;
    margin: 40vh;
}

/* Score header */

