/* Webpage background */
/* Using viewheight credit to Cem Eygi Media */
body {
    background-image: url("images/world_map_comp.jpg") , linear-gradient(to right, #ae7646 , #ebc499);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}

/* Main section of quiz */
.main_object {
    background-color: rgba(0, 0, 0, 0.7);
    color: antiquewhite;
    text-align: center;
    padding: 2%;
    margin: 10%;
    font-size: large;
}

/* Score header */
#score_header {
    text-align: left;
}

/* button styling */
.btn-primary {
    
}

/* class to hide elements */
.hide {
    display: none;
}